*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    /* margin-top: 200px; */
    background-color:rgb(82, 80, 80);
}
.main 
{
    position: absolute;
    padding-bottom: 700px;
    color: rgb(113, 113, 195);
}
.info
{
    position: relative;
    color: white;
    margin-right: 100px;
}
.info h1
{
    position: relative;
    margin-left: 40px;
    width: 100%;
    transition: .3s;
}
.info:hover h1{
    color: #000;
    box-shadow: #333;
}
.info p
{
    position: relative;
    margin-left: 40px;
    font-size: 20px;
    width: 100%;
    font-weight: 300;
    margin-top: 10px;
    transition: .3s;
}
.info:hover p
{
    color: #000;
    box-shadow: #333;
}
.login-box
{
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    background-color: transparent;
    border: 5px solid #333;
    border-radius: 10px;
    transition: .3s;
}
.login-box:hover
{
    scale: 1.1;
    border-radius: 40px;
    border:  5px solid aqua;
    box-shadow: 0 0 20px aquamarine,inset 0 0 20px aquamarine;
}
h2
{
    font-size:32px;
    text-align: center;
    color: white;
    transition: .3s;
}
.login-box:hover h2
{
    color: aqua;
}
.inp-box
{
    position: relative;
    width: 350px;
    margin: 30PX 0;
}

.inp-box input
{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 1px solid #333;
    outline: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 0 20px 0 50px;
    transition: .3s;
}

.login-box:hover .inp-box input
{
 border: 1px solid aqua;
 box-shadow:0 0 5px aqua,inset 0 0 10px aqua ;   
}
.inp-box:hover input
{
    color: tan;
}

.icon
{
    position: absolute;
    left: 10px;
    font-size: 25px;
    line-height: 60px;
    color: white;
    transition: .3s;
}
.login-box:hover .icon
{
    color: aqua;
}
.pass-forget
{
    margin: 15px 0 15px;
}
.pass-forget a
{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.pass-forget a:hover
{
    text-decoration: underline;
}

button
{
    position: relative;
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-color: #333;
    border-radius: 4px;
    border: none;
    margin-top: 15px;
    color: white;
    font-weight: bold;
    outline: none;
    transition: .3s;
}
button a
{
    text-decoration: none;
    color: white;
}
.login-box:hover button
{
    background-color: aqua;
    color: #000;
    box-shadow: 0 0 10px aqua,inset 0 0 10px aqua;
}
.registration
{
   text-align: center;
   font-size: 20px;
   margin-top: 40px;
   margin-bottom: px;
}

.registration p
{
    color: white;
}
.registration p a
{
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
}

.registration p a:hover
{
    text-decoration: underline;

}
.login-box:hover .registration p a
{
    color: aqua;
}

/* Regiatration Page */

.login-box-re
{

    display: flex;
    justify-content: center;
    margin-left: 200px;
    padding: 20px;
    border: 5px solid black;
    border-radius: 10px;

}
.login-box-re:hover
{
    scale: 1.1;
    border-radius: 40px;
    border:  5px solid aqua;
    box-shadow: 0 0 20px aquamarine,inset 0 0 20px aquamarine;
}

.login-box-re:hover h2
{
    color: aqua;
}

.login-box-re :hover .inp-box input
{
 border: 1px solid aqua;
 box-shadow:0 0 5px aqua,inset 0 0 10px aqua ;   
}
.inp-box:hover input
{
    color: rgb(247, 250, 250);
}

.login-box-re:hover .icon
{
    color: aqua;
}
.login-box-re:hover .registration p a
{
    color: aqua;
}
.login-box-re:hover button 
{
    background-color: aqua;
    color: #000;
    box-shadow: 0 0 10px aqua,inset 0 0 10px aqua;
}